@import url("https://fonts.googleapis.com/css?family=Questrial");
body {
	font-family:"GT-Eesti 3r",Arial,sans-serif;
}

h2, p {
	margin: 0;
	display: inline-block;
	width: 100%;
}

.container {
    margin: 0 auto;
    max-width: 1000px;
    padding: 20px 0 0 0;
    color: #000000e6;
}

.products {
	padding: 10px;
}

.product {
	float: left;
	width: 29%;
	margin: 20px 10px;
	padding: 5px 5px 7px 5px;
	min-width: 198px;
	border: #80808066 solid 1px;
	box-shadow: 1px 2px 2px -1px rgba(0, 0, 0, 0.12);
}

.product-thumbnail {
	width: 100%;
}

.product-name {
	font-size: 15px;
	padding: 10px 0 0 0;
}

.product-price {
	font-size: 14px;
	padding: 3px 0 0 0;
	display: inline-block;
}

.carousel {
	cursor: pointer;
}

.carousel-image {
    display: none;
    width: 100%;
}